@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3";
}

<!--Create header and picture of something I enjoy-->
<h1>Stephen Brockbank </h1>
<img src="img/HYGE0815.JPG" />

<p>
    <!--Paragraph of what I want to get out the class-->
    <h3>Things I want to get out of the class </h3>
    I want to be way more efficient in creating websites. I'd love to be able to just sit down and
    pump out a website like its nothing. I'd also like to find a wife haha not sure if that'll happen in this class
</p>
<br />
<!--List of the top 3 jobs i'm interested in'-->
<h2>Top 3 Jobs I'm most interested in pursuing when I Graduate</h2>
<ul>
    <li>1. Software Developer</li>
    <li>2. Information Analyst</li>
    <li>3. NBA basketball player</li>
</ul>